.page {
    display: block;
    justify-content: center;
    text-align: center;
    max-width: 1280px;
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 100%;
    margin: 0;
}
.header-content {
    width: 1280px;
    height: 188px;
}
div.header-logo {
    display: inline;
    text-align: center;
    text-decoration: none;
    padding: 0 0;
}
.main-menu a {
    display: block;
}
a.logo {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 80px;
}
.mainmenu {
    display: flex;
    justify-content: center;
}
.listnav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 69px;
    font-weight: 400;
    font-size: 24px;
    padding-left: 44px;
    padding-right: 44px;
}
span.logo-text {
     color: #4bcaff;
 }
.logo-text {
    display: flex;
    justify-content: start;
}
div.mainmenu {
    width: 1280px;
    height: 69px;
    margin-top: 30px;
}
ul.main-menu {
    width: 1280px;
    height: 69px;
    background-color: #35444F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 119px;
}
.main-menu ul li {
    display: inline;
}
.listnav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.libr a {
    width: 153px;
    height: 72px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    border-right: 1px solid rgba(255, 255, 255, 0.48);
    border-left: 1px solid rgba(255, 255, 255, 0.48);
    transition: 150ms;
}
.libr a:hover {
    transform: scale(1.1);
    background-color: black;
}
.fprog {
    border-left: 1px solid rgba(255, 255, 255, 0.48);
}
.flspec {
    border-right: 1px solid rgba(255, 255, 255, 0.48);
}
.js {
    border-right: 1px solid rgba(255, 255, 255, 0.48);
}
.main-content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.aside-menu {
    width: 340px;
    height: 399px;
    text-align: left;
    font-weight: 400;
    font-size: 27px;
    line-height: 100%;
    border: 1px solid #b2afaf;
}
.asidemenu a {
    text-decoration: none;
    color: #485863;
}
.asidenav {
    padding-left: 43px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.aside-hover {
    padding-left: 43px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: 200ms;
}
.aside-hover:hover {
    background-color: #dbdbdb;
    color: #000000;
    padding-left: 80px;
    font-weight: 700;
}
.main-text {
    width: 885px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #2c2c2c;
}
.first {
    margin-bottom: 13px;
}
div.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid #b2afaf;
    margin-bottom: 37px;
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 381px;
    transition: 300ms;
}
img:hover {
    transform: scale(1.3);
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    padding-left: 40px;
    padding-right: 40px;
}
.footer-list {
    display: flex;
    column-gap: 20px;
    padding-top: 20px;
    padding-bottom: 21px;
    font-size: 28px;
    font-weight: 400;
}
.footer-list a {
    text-decoration: none;
    color: #0c1927;
}
.two a {
    color: #0c1927;
    text-decoration: none;
    transition: 150ms;
}
.two a:hover {
    color: #3181a6;
    font-weight: 500;
    transform: scale(1.1);
    text-decoration: underline;
}
.last {
    font-size: 24px;
}